#plateau {
  font-size: 0pt;
}

#plateau > div {
  display: inline-block;
}

#plateau div {
  margin: 0;
}

.ecurie {
  width: 199px;
  height: 199px;
}

#ecurieBleue {
  background-color: #01FFF5;
  border: 15px solid #00B7B1;
}

#ecurieRouge {
  background-color: #FF0101;
  border: 15px solid #D20001;
}

#ecurieJaune {
  background-color: #FFFC01;
  border: 15px solid #FFA800;
}

#ecurieVerte {
  background-color: #D2FF02;
  border: 15px solid #96B705;
}

.ligne > div {
  display: inline-block;
}

.carre {
  width: 34px;
  height: 34px;
  margin: 5px!important;
}

.carre.bleu {
  background-color: #01FFF5;
}

.carre.rouge {
  background-color: #FF0101;
}

.carre.vert {
  background-color: #D2FF02;
}

.carre.jaune {
  background-color: #FFFC01;
}

.rond {
  width: 34px;
  height: 34px;
  margin: 5px!important;
  border-radius: 17px;
}

.rond.bleu {
  background-color: #00B7B1;
}

.rond.rouge {
  background-color: #D20001;
}

.rond.vert {
  background-color: #96B705;
}

.rond.jaune {
  background-color: #FFA800;
}

.colonne > :last-child {
  margin-bottom: 0px!important;
}

#content {
  margin-top: 5rem;
  margin-left: 20rem;
}