#content {
  margin-top: 50vh;
  transform: translateY(-50%);
  width: 780px;
  margin-left: auto;
  margin-right: auto;
}

#plateau {
  font-size: 0pt;
  display: inline-block;
}

#plateau > div {
  display: inline-block;
}

#plateau div {
  margin: 0;
}

.ecurie {
  width: 199px;
  height: 199px;
  border-radius: 3px;
}

#ecurieBleue {
  background-color: #01FFF5;
  border: 15px solid #00B7B1;
}

#ecurieRouge {
  background-color: #FF0101;
  border: 15px solid #D20001;
}

#ecurieJaune {
  background-color: #FFFC01;
  border: 15px solid #FFA800;
}

#ecurieVerte {
  background-color: #D2FF02;
  border: 15px solid #96B705;
}

.ligne > div {
  display: inline-block;
  margin-left: 0!important;
}

#colonne2 > div, #colonne3 > div, #colonne5 > div, #colonne6 > div {
  margin-left: 0!important;
}

.ligne > div {
  margin-bottom: 0!important;
}

.carre {
  width: 34px;
  height: 34px;
  margin: 5px!important;
  border-radius: 3px;
}

.carre.bleu {
  background-color: #01FFF5;
}

.carre.rouge {
  background-color: #FF0101;
}

.carre.vert {
  background-color: #D2FF02;
}

.carre.jaune {
  background-color: #FFFC01;
}

.rond {
  width: 34px;
  height: 34px;
  margin: 5px!important;
  border-radius: 17px;
}

.rond.bleu {
  background-color: #00B7B1;
}

.rond.rouge {
  background-color: #D20001;
}

.rond.vert {
  background-color: #96B705;
}

.rond.jaune {
  background-color: #FFA800;
}

.colonne > :last-child {
  margin-bottom: 0px!important;
}

#rr0, #rj0, #rb0, #rv0 {
  border-radius: 3px;
}

#PackageDe {
  display: inline-block;
  vertical-align: top;
  margin-top: 200px;
  margin-left: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#roll {
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  color: white;
  cursor: pointer;
  background-color: black;
  text-align: center;
}

#roll:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.ecurie, .carre, .rond {
  box-shadow: 0px 0px 0px 1px black;
}

.invisible {
  box-shadow: none;
}

.pion{
  float: left;
}
