* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: lightgrey;
}

#banniereConnexion {
  height: 300px;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-color: #555555;
}

#banniereConnexion > #connexion {
  padding-top: 70px;
  text-align: center;
  color: white;
}

#log {
  border: 2px solid white;
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  color: white;
  cursor: pointer;
  background-color: black;
}

#log:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

th {
  width: 200px;
  padding-bottom: 10px;
}

#pageListerParties {
  width: 1000px;
  margin: auto;
}

#ListePartiesDispo {
    border-collapse: collapse;
    text-align: center;
}

#ListePartiesDispo .separateur {
  border-left: 1px solid black;
}